################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin
/Packages
/.vs
/.intermediate
/UpgradeLog.htm
/Source/MSBuildExtension/obj
/Source/Macad.UserGuide/obj
*.user
/Source/Macad.Presentation/Styles
/Source/Macad.Resources
/Build/MSBuild/LocalSettings.props
